<div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-ripple"><div></div><div></div></div><style type="text/css">@keyframes lds-ripple {
  0% {
    top: 94px;
    left: 94px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 17px;
    left: 17px;
    width: 154px;
    height: 154px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 94px;
    left: 94px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 17px;
    left: 17px;
    width: 154px;
    height: 154px;
    opacity: 0;
  }
}
.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 6px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #b5ccf1;
}
.lds-ripple div:nth-child(2) {
  border-color: #94a9ce;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-ripple {
  width: 120px !important;
  height: 120px !important;
  -webkit-transform: translate(-60px, -60px) scale(0.6) translate(60px, 60px);
  transform: translate(-60px, -60px) scale(0.6) translate(60px, 60px);
}
</style></div>
